.about {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 80vh;
  background-color: #f4f4f4;
}

.about-image {
  margin-right: 20px;

  img {
    border-radius: 50%;
    width: 150px;
    height: 150px;
    object-fit: cover;
  }
}

.about-details {
  h2 {
    font-size: 2rem;
    margin: 0;
    color: #333;
  }

  h4 {
    font-size: 1.2rem;
    margin: 5px 0 10px;
    color: #777;
  }

  .about-contact {
    font-size: 1rem;
    margin: 5px 0;
    color: #555;

    span {
      font-weight: bold;
      color: #333;
    }
  }
}
